@import '../../vars.css';

.trabajos_Container {
  padding-top: 3rem;
  display: flex;
  position: relative;
  margin: 0 auto;
  justify-content: center;
  width: 80%;
}

.section_container {
	display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(
      350px,
      1fr
    )
  );
  grid-template-rows: repeat(1, 1fr);
  gap: 20px;
}

.article_container:hover{
  position: relative;
  z-index: 999;
  transform: scale(1.03);
  box-shadow: 0 0 20px rgb(135, 135, 135);
}

.article_container {
  box-shadow: 0 0 .3rem #c2c2c2;
  position: relative;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  transition: 1s;
  > img {
    width: 100%;
    border-radius: 10px;
  }
  > h4 {
    background: transparent;
    margin: .5rem;
    font-size: 1.5rem;
    padding-left: 0.5rem;
  }
  > p {
    margin-left: 1rem;
    color: var(--text-color-dark);
    width: 90%;
  }
}

.introTrabajos{
  margin-left: 15rem;
  font-size: 1.3rem;
  max-width: 60%;
}

.container_ul{
  display: flex;
  justify-content: flex-start;
  list-style: none;
  gap: 2rem;
  >li{
    transition: .2s;
    &:hover{
    filter: drop-shadow(2px 2px rgb(127, 127, 127));
    color: var(--accent-dark);
  }
  }
}

.h2{
  position: relative;
  background: transparent;
  display: flex;
  justify-content: flex-start;
  margin-left: 15rem;
  color: var(--text-color-dark);
  margin-top: 3rem;
}

@media screen and (max-width: 500px) {
  .section_container{
    width: 95%;
  }
}
