@import '../../vars.css';

.container {
  position: relative;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
}
.h2 {
  color: var(--text-color-dark);
  padding-left: 3rem;
  width: fit-content;
}
.p {
  color: #f2fff0a8;
  max-width: 50%;
  padding-left: 3rem;
  font-size: 22px;
  text-align: center;
}

.imgDev {
  width: 18rem;
}

@media screen and (max-width: 1024px) {
  .p {
    font-size: 1.3rem;
    max-width: 60%;
  }
}
@media screen and (max-width: 700px) {
  .p {
    min-width: 85%;
    font-size: 1rem;
    margin: 0 1rem;
  }
  .h2{
    padding: 1rem 1rem;
  }
}
