/* :root {
  --primary-color: #ed6a00;
  --text-color: #3f4258;
  --textH1-color: #1f2350;
  --color-text: #fff;
} */
@import '../../vars.css';

.container {
  z-index: 100;
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  flex-direction: column;
}
.h2 {
  position: absolute;
  padding: 0.5rem 1rem 1rem;
  top: -3rem;
  border-radius: 15px;
  color: var(--text-color-dark);
}
.p {
  color: var(--text-color-dark);
  max-width: 60%;
  font-size: 1.5rem;
  padding: 3rem 0;
  background: transparent;
}

.imgDev {
  width: 18rem;
}

@media screen and (max-width: 1000px) {
  .p {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 700px) {
  .p {
    max-width: 80%;
    font-size: 1rem;
  }
}
