@import './vars.css';
:root {
  --size: 20px;
}

body {
  margin: 0;
  box-sizing: border-box;
  display: grid;
  background-image: url('../public/Images/black-370118_1920.png');
  background-repeat: repeat;
  background-size: contain;
  /* background: var(--background-dark); */
}


::-webkit-scrollbar {
  width: 0;
}
::-webkit-scrollbar-track {
  background: var(--background-dark);
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
