@import './vars.css';
:root {
  --size: 20px;
}

body {
  margin: 0;
  box-sizing: border-box;
  display: grid;
  background: var(--background-dark);
}


::-webkit-scrollbar {
  width: 0;
}
::-webkit-scrollbar-track {
  background: var(--background-dark);
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
