:root {
    --background-dark: #080C08;
    --primary-dark: #02B13F;
    --secondary-dark: #001915;
    --accent-dark: #28FA0A;
    --text-color-dark: #F2FFF0;
    
    --background-ligth: #F3F7F3;
    --primary-ligth: #4EFD8C;
    --secondary-ligth: #CFCFCF;
    --accent-ligth: #21F505;
    --text-color-ligth: #020F00;
    
}

